body { 
  padding-top: 70px; /* for navbar-fixed-top */
}
.logo {
  min-width: 86px;
  min-height: 81px;
  max-width: 100%; 
  max-height:100%;
  margin-top: 10px; 
  vertical-align: middle;
}
@media only screen and (max-width: 800px){
  .row {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}
@media only screen and (max-width: 1000px){
  .masthead {
    text-align: center;
  }
  .logo {    
    margin: 0 auto;
  }
}
.p {
  margin-top: 40px;
}
.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
  font-size:      1.2em;
}

div.yoavram-logo {
    max-width: 100px;
    margin-top: -30px;
    margin-bottom: 10px;
}

img.license {
  border-width: 0;
  margin-top: 10px;
}

p.copyright {
    margin-bottom: 15px;
}

/* https://css-tricks.com/snippets/css/flip-an-image/ */
.fliph:hover {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

/* http://stackoverflow.com/a/13325820 */
.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}